*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#09091d,#2b0b3d,#000);

color:white;

text-align:center;

}

.container{

animation:fade 1s;

}

h1{

font-size:50px;

margin-bottom:20px;

color:#ff7bbd;

}

#giftBox{

font-size:170px;

cursor:pointer;

transition:.5s;

}

#giftBox:hover{

transform:scale(1.1) rotate(8deg);

}

#surprise{

display:none;

margin-top:35px;

max-width:700px;

line-height:35px;

}

#surprise a{

display:inline-block;

margin-top:30px;

padding:15px 35px;

background:#ff4f81;

color:white;

text-decoration:none;

border-radius:40px;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:translateY(0);

}

}
button:hover,
a:hover{

transform:translateY(-5px) scale(1.05);

box-shadow:0 15px 30px rgba(255,105,180,.4);

transition:.3s;

}
