*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#120018,#2b0b3d,#000);
color:white;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:30px;
overflow:auto;
}

.container{
max-width:800px;
text-align:center;
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
padding:40px;
border-radius:30px;
box-shadow:0 0 30px rgba(255,105,180,.3);
}

h1{
font-size:50px;
color:#ff7ab8;
margin-bottom:20px;
animation:glow 2s infinite;
}

.photo{
width:220px;
height:220px;
border-radius:50%;
object-fit:cover;
border:5px solid white;
box-shadow:0 0 25px hotpink;
margin:25px 0;
}

p{
font-size:20px;
line-height:36px;
margin-bottom:25px;
}

h2{
margin-top:20px;
color:#ffd700;
}

h3{
margin-top:15px;
color:#ffb6c1;
}

.btn{
display:inline-block;
margin-top:35px;
padding:15px 35px;
background:#ff4f81;
color:white;
text-decoration:none;
border-radius:40px;
font-size:20px;
transition:.3s;
}

.btn:hover{
transform:scale(1.08);
box-shadow:0 0 20px hotpink;
}

@keyframes glow{
50%{
text-shadow:0 0 20px hotpink;
}
}
.typewriter{
margin-top:35px;
font-size:24px;
color:#ffd700;
overflow:hidden;
white-space:nowrap;
border-right:3px solid white;
width:0;
margin-left:auto;
margin-right:auto;
animation:typing 6s steps(40,end) forwards,
blink .8s infinite;
}

@keyframes typing{

from{
width:0;
}

to{
width:100%;
}

}

@keyframes blink{

50%{
border-color:transparent;
}

}

.stars{

font-size:35px;

margin-top:30px;

animation:twinkle 2s infinite;

}

@keyframes twinkle{

50%{
opacity:.3;
transform:scale(1.2);
}

}

.final-end{

margin-top:50px;

font-size:40px;

font-weight:bold;

color:#ff9acb;

animation:glow 2s infinite;

}

.footer{

margin-top:35px;

font-size:17px;

opacity:.8;

font-style:italic;

}
#fadeScreen{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:#000;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

text-align:center;

padding:40px;

opacity:0;

visibility:hidden;

transition:2s;

z-index:9999;

}

#fadeScreen.show{

opacity:1;

visibility:visible;

}

#fadeScreen h1{

font-size:65px;

color:#ff7ab8;

margin-bottom:30px;

animation:glow 2s infinite;

}

#fadeScreen p{

font-size:28px;

line-height:48px;

max-width:700px;

}