*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#120018,#2b0b3d,#050816);
    color:white;
    overflow:hidden;
}

.player{
    width:420px;
    padding:40px;
    text-align:center;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    border-radius:30px;
    box-shadow:0 0 30px rgba(255,105,180,.35);
}

h1{
    font-size:40px;
    color:#ff80bf;
    margin-bottom:25px;
}

.disc{
    font-size:120px;
    margin:25px 0;
    animation:spin 5s linear infinite;
}

@keyframes spin{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

.song{
    font-size:24px;
    font-weight:bold;
    margin-top:15px;
}

.quote{
    margin:20px 0 30px;
    line-height:28px;
    color:#ddd;
}

button{
    padding:15px 35px;
    border:none;
    border-radius:40px;
    background:#ff4f81;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
    box-shadow:0 0 20px hotpink;
}

.nextBtn{
    display:inline-block;
    margin-top:25px;
    padding:15px 35px;
    border-radius:40px;
    background:white;
    color:#ff4f81;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.nextBtn:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px hotpink;
}