*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#021B79,#0575E6);

}

.passport{

background:#f7f2e7;

padding:50px;

border-radius:20px;

width:450px;

text-align:center;

box-shadow:0 0 40px rgba(0,0,0,.4);

}

h1{

color:#0a2c6b;

margin-bottom:20px;

}

h2{

margin-bottom:25px;

}

.stamp{

margin:40px auto;

width:180px;

height:180px;

border:8px solid crimson;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

font-weight:bold;

color:crimson;

transform:rotate(-18deg);

}

a{

display:inline-block;

margin-top:20px;

padding:15px 35px;

background:#0a2c6b;

color:white;

text-decoration:none;

border-radius:40px;

}
button:hover,
a:hover{

transform:translateY(-5px) scale(1.05);

box-shadow:0 15px 30px rgba(255,105,180,.4);

transition:.3s;

}