*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
height:100vh;
overflow:hidden;
background:linear-gradient(to bottom,#020111,#191970,#000);
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
color:white;
}

h1{
font-size:55px;
margin-bottom:15px;
}

p{
margin-bottom:40px;
font-size:20px;
}

.sky{
position:relative;
width:100%;
height:70vh;
}

.star{
position:absolute;
font-size:35px;
cursor:pointer;
animation:blink 2s infinite;
transition:.3s;
}

.star:hover{
transform:scale(1.4);
}

.star:nth-child(1){top:10%;left:20%;}
.star:nth-child(2){top:25%;left:60%;}
.star:nth-child(3){top:55%;left:40%;}
.star:nth-child(4){top:70%;left:80%;}
.star:nth-child(5){top:35%;left:85%;}
.star:nth-child(6){top:60%;left:15%;}

@keyframes blink{

50%{

opacity:.3;

}

}

#message{

display:none;

margin-top:30px;

background:rgba(255,255,255,.15);

padding:20px 35px;

border-radius:20px;

backdrop-filter:blur(10px);

font-size:20px;

}

a{

display:none;

margin-top:25px;

padding:15px 35px;

background:#ff4f81;

color:white;

text-decoration:none;

border-radius:40px;

}
button:hover,
a:hover{

transform:translateY(-5px) scale(1.05);

box-shadow:0 15px 30px rgba(255,105,180,.4);

transition:.3s;

}