*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:Poppins,sans-serif;

background:linear-gradient(135deg,#000,#111,#222);

overflow:hidden;
}

.container{

width:90%;
max-width:700px;

text-align:center;

padding:50px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

border-radius:30px;

box-shadow:0 0 40px rgba(255,215,0,.2);

color:white;

}

h1{

font-size:50px;

margin-bottom:20px;

color:gold;

}

p{

font-size:22px;

line-height:38px;

margin-bottom:40px;

}

.watch{

font-size:130px;

animation:float 3s infinite ease-in-out;

margin-bottom:40px;

}

.btn{

display:inline-block;

padding:18px 45px;

background:gold;

color:black;

text-decoration:none;

border-radius:40px;

font-size:22px;

font-weight:bold;

transition:.4s;

}

.btn:hover{

transform:scale(1.08);

}

@keyframes float{

50%{

transform:translateY(-20px);

}

}