*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#1a0033,#330033,#000);

color:white;

text-align:center;

overflow:hidden;

}

.container{

animation:fade 1.5s;

}

h1{

font-size:55px;

color:#ff69b4;

margin-bottom:15px;

}

p{

font-size:20px;

margin-bottom:30px;

}

#cake{

font-size:170px;

transition:.5s;

}

button{

padding:15px 35px;

border:none;

background:#ff4f81;

color:white;

border-radius:40px;

font-size:18px;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:scale(1.1);

}

#message{

display:none;

margin-top:35px;

animation:fade 1s;

}

#message a{

display:inline-block;

margin-top:25px;

padding:14px 35px;

background:white;

color:#ff4f81;

text-decoration:none;

border-radius:40px;

font-weight:bold;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}
button:hover,
a:hover{

transform:translateY(-5px) scale(1.05);

box-shadow:0 15px 30px rgba(255,105,180,.4);

transition:.3s;

}