*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

background:#09091d;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}

.container{

text-align:center;

}

.envelope{

font-size:120px;

margin-bottom:30px;

animation:updown 2s infinite;

}

button{

padding:15px 40px;

border:none;

border-radius:40px;

background:#ff4f81;

color:white;

font-size:18px;

cursor:pointer;

}

#letter{

display:none;

margin-top:40px;

background:white;

color:#222;

padding:35px;

border-radius:20px;

max-width:600px;

line-height:35px;

}

#letter a{

display:inline-block;

margin-top:30px;

background:#ff4f81;

color:white;

padding:12px 30px;

border-radius:30px;

text-decoration:none;

}

@keyframes updown{

50%{

transform:translateY(-10px);

}

}
button:hover,
a:hover{

transform:translateY(-5px) scale(1.05);

box-shadow:0 15px 30px rgba(255,105,180,.4);

transition:.3s;

}