*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#220033,#000428);

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

}

h1{

margin-bottom:40px;

}

.wheel{

font-size:170px;

transition:4s;

}

button{

margin-top:30px;

padding:15px 40px;

background:#ff4f81;

border:none;

border-radius:40px;

color:white;

font-size:18px;

cursor:pointer;

}

#result{

margin-top:35px;

color:#ffd369;

}

.next{

display:none;

margin-top:40px;

background:white;

color:#ff4f81;

padding:15px 35px;

border-radius:40px;

text-decoration:none;

}